.about {
  min-height: 100vh;
  width: 92vw;
  background: white;
  color: #791dae;
  padding:auto;
}

.appyy {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150vh;
}
.h1c{
  font-size:2.5rem;
  text-align:center;
  color:#555;
}
.ft{
  font-size:1.2rem;
  text-align:center;
}
.nt{
  font-size:1rem;
  width:100%;
  text-align:center;
  padding:1rem;
}
.ws{
  font-size:1.5rem;
  text-align:center;
}
.conte{
  display:flex;
  gap:3rem;
  padding:1rem;
}
.centinal{
  width:50%;
  background:#f5d7d7;
  color:black;
  border-radius:0.5rem;
  box-shadow: 8px 8px 8px 8px black;
  height:17.5rem;
  margin:1rem;
}
.heading{
  font-size:2.5rem;
  text-align:center;
}
.daata{
  font-size:1.8rem;
  text-align:center;
  padding:auto;
}

@media screen and (min-width: 320px) and (max-width: 426px) {
  .about {
   padding: auto;
  }
  .heading{
    font-size:1.2rem !important;
  }
  .h1c{
    font-size:2rem;
   text-align:center;

  }
  .ft{
    font-size:0.8rem;
    text-align:center;
  }
  .ws{
    font-size:0.8rem;
    text-align:center;
  }
  .nt{
    font-size:1rem;
    width:100%;
    text-align:center;
    padding:0.1rem;
  }
  .daata{
    font-size:1rem !important;
  }
  .conte{
    display:flex;
    flex-direction:column;
  }
  .centinal{
    width:98%;
    box-shadow: 0px 0px 0px 0px;
    border: 4px solid grey;
    height:auto;
    padding:auto;
  }
  .centinal:hover{
    transform: scale(1.1);
    transition: 0.5s;
  }
}


@media screen and (min-width: 426px) and (max-width: 768px) {
  .conte{
    display:flex;
    padding:1rem;
    gap: 4rem;
  }
  
  .centinal:hover{
    transform: scale(1.1);
    transition: 0.5s;
  }
  .heading{
    font-size:1.8rem !important;
  }
  .daata{
    font-size:1.2rem !important;
    padding:0.5rem;
  }
  }

  @media screen and (min-width: 769px) and (max-width: 1024px){
    .conte{
      display:flex;
      padding:1rem;
    }
    .nt{
      font-size:1.3rem;
      width:100%;
      text-align:center;
      padding:1rem;
    }
    .h1c{
      font-size:2.7rem;
      text-align:center;
    }
    .centinal{
      height:18.2rem;
    }
    .centinal:hover{
      transform: scale(1.1);
      transition: 0.5s;
    }
    .daata{
      font-size:1.4rem;
    }

  }

  @media screen and (min-width: 1025px) and (max-width: 1440px){
    .conte{
      display:flex;
      padding:1rem;
      gap:3rem;
    }
    .centinal{
      height: 18.8rem;
    }
    .nt{
      font-size:1.5rem;
      width:100%;
      text-align:center;
      padding:1rem;
    }
    .h1c{
      font-size:3rem;
      text-align:center;
    }
    .centinal{
      width:45%;
      
    }
  }
  /* @media screen and (min-width: 1441px){
    .h1c{
      font-size:6rem;
      text-align:center;
    }
    .ft{
      font-size:3rem;
      text-align:center;
    }
    .nt{
      font-size:3rem;
      width:100%;
      text-align:center;
      padding:1rem;
    }
    .content{
      width:50%;
      background:white;
      color:black;
      border-radius:0.5rem;
      box-shadow: 8px 8px 8px 8px black;
      height:27rem;
    }
    .cont{
      display:flex;
      padding:1rem;
    }
    .data{
      font-size:3rem;
      text-align:center;
    }
    .heading{
      font-size:3.5rem;
      text-align:center;
    }
    .ws{
      font-size:3rem;
    }
    .videos {
      padding-left:2rem;
      border-radius: 1rem;
      transform: translateX(-50px);
      display: flex;
      overflow-x: scroll;
      width: 100%;
      height:40rem;
      background-color: #fa7979;
      background-image: linear-gradient(147deg, #f784d6 0%, #d456f7 74%);
    }
    video {
      /* margin-left: 20px;
      margin-bottom: 20px;
      margin-top: 20px; 
      margin:1rem;
      border-radius: 1rem;
      height:20rem;
    }
    iframe {
      /* margin-left: 20px;
      margin-bottom: 20px;
      margin-top: 20px;
      margin:0.5rem;
      border-radius: 1rem; 
      height:20rem;
    }
  }
  */
    /*start here*/
    video {
      /* margin-left: 20px;
      margin-bottom: 20px;
      margin-top: 20px; */
      margin:1rem;
      border-radius: 1rem;
    }
   
    iframe {
      /* margin-left: 20px;
      margin-bottom: 20px;
      margin-top: 20px;
      margin:0.5rem;*/
      border-radius: 1rem; 
    }
    
    /* iframe:last-child {
      padding-right: 20px;
    } */
   
    .content:hover{
      background:"blue";
      box-shadow: "10px 10px";
    }
    
    .videos {
      border-radius: 1rem;
      transform: translateX(-50px);
      display: flex;
      overflow-x: scroll;
      width: 99vw;
      background-color: #fa7979;
      background-image: linear-gradient(147deg, #f784d6 0%, #d456f7 74%);
    }
    
    
    .videos::-webkit-scrollbar-thumb {
      border-radius: 0;
      background: white;
    }
    
    @media (max-width: 500px) {
      .videos::-webkit-scrollbar {
        display: none;
      }
    }

    /* video {
      /* margin-left: 20px;
      margin-bottom: 20px;
      margin-top: 20px; 
      margin:1rem;
      border-radius: 1rem;
    }
   
    iframe {
      /* margin-left: 20px;
      margin-bottom: 20px;
      margin-top: 20px;
      margin:0.5rem;
      border-radius: 1rem; 
    }
    
    /* iframe:last-child {
      padding-right: 20px;
    } 
   
    .content:hover{
      background:"blue";
      box-shadow: "10px 10px";
    }
    
    .videos {
      border-radius: 1rem;
      transform: translateX(-50px);
      display: flex;
      overflow-x: scroll;
      width: 99vw;
      background-color: #fa7979;
      background-image: linear-gradient(147deg, #f784d6 0%, #d456f7 74%);
    }
    
    
    .videos::-webkit-scrollbar-thumb {
      border-radius: 0;
      background: white;
    }
    
    @media (max-width: 500px) {
      .videos::-webkit-scrollbar {
        display: none;
      }
    } */