.App{
    text-align: center;
    background-color: white;
    padding:0.5rem;
}
.coub{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 5px;
    box-sizing: border-box; /* Ensures padding is included in width */
    overflow-x: hidden;

}
.AI{
    margin: auto;
    position: relative;
    border-radius: 1rem;
    width:95vw;
    z-index: 0;
    height:fit-content;
    padding-top:0.2rem;
    background-color:#791dae;
    border-radius:2vw;
}
.xt{
    color:white;
    font-size:1rem;
    padding:0.5rem;

}
.h12{
    padding-top: 0;
    float:center;
    color:white;
    font-size:1.5rem;
}